<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="description" content="Eva Zlimen personal website.">
  <meta name="keywords" content="scientific research, academia, science, exoplanets, planets, Eva Zlimen, Eva, Zlimen">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.github.url }}/assets/libs/bootstrap/bootstrap.min.css">
  <script defer src="{{ site.github.url }}/assets/libs/fontawesome/all.min.js"></script>
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  <link rel="shortcut icon" type ="image/x-icon" href="{{ site.github.url }}/assets/favicon2.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- <link rel="icon" href="/assets/favicon.ico"> -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
