---
layout: default
---
<style>
    Body {
        background-color: pink;
    }
</style>
<div class="row g-5 mb-5">
  <div class="col-md-10">
    <h3 class="fw-bold">Outreach</h3>
      {{ content }} 
  </div>
<div class="row g-5 mb-5">
  <div class="col-md-6">
    I am the Speaker Chair of UCLA's <a href="https://exploringyouruniverse.ucla.edu/"> Exploring Your Universe</a> , 
    LA county's largest (and totally free!!) science fair. RSVP for this year's event 
    <a href="https://www.eventbrite.com/e/exploring-your-universe-2026-tickets-1991873655724?aff=oddtdtcreator"> here</a>.
    </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/EYUWeb__Logo_small-e1634280167159.png" alt="EYU" width="50%">
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-6">
    I am also the president of the Earth, Planetary, and Space Sciences Family Mentorship Program (EFMP). 
    The program pairs graduate and undergraduate students into mentorship "families" such that each member has the 
    opportunity to be both a mentor and a mentee, and holds community building and academic events. We also host a No-Jargon Talk 
    Series where students can practice their scientific communication while keeping up with the research within the department! 
    Contact me about giving a No-Jargon Talk :)
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/efmplogoyellow.png" alt="EFMP" width="50%">
  </div>
</div>


<!-- {% include publications.html %} -->
