---
layout: default
---
<style>
    Body {
        background-color: pink;
    }
</style>
<div class="row g-5 mb-5">
  <div class="col-md-10">
    <h3 class="fw-bold">Research</h3>
    {{ content }}
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-10">
    <h3 class="fw-bold">Giant Impact Induced Mass Loss of Miscible Sub-Neptunes</h3>
    Giant impacts are the last major stage in the formation of terrestrial planets. They also are believed to play a major role in the assembly, 
    long-term orbital stability, and resonant structure of exoplanetary systems. We revisit this idea through the lens of a coupled 
    atmosphere-interior system, allowing for chemical interactions between the interior and envelope as the planet experiences heating and 
    subsequent cooling after a giant impact. Previous works (e.g., Biersteker & Schlichting 2019) found that for standard models, sub-Neptune 
    mass planets with a few percent hydrogen envelopes are entirely stripped of their atmospheres following giant impacts. However, miscible planets 
    can sequester hydrogen within their interiors following giant impacts. This reduces the mass available to be lost and prevents the destruction 
    of the sub-Neptune population. Paper coming soon!
<div class="row g-5 mb-5">
  <div class="col-md-6"><img src="/assets/img/int-structure.png" alt="interior structure model" width="100%"></div>
  <div class="col-md-6">
  <p><u>Figure 2:</u> Schematic of our miscible sub-Neptune model, similar to that of Rogers et al. (2025). 
    A fully miscible, supercritical MgSiO<sub>3</sub>-H<sub>2</sub> interior is separated from the hydrogen-dominated envelope by the binodal phase 
    boundary. Directly above the binodal, convection is inhibited due the presence of silicate vapor species. As temperatures and pressures 
    decrease in the atmosphere, the gas becomes more hydrogen rich and convection is no longer inhibited. A radiative upper atmosphere lies 
    above the convective region. Regions are not shown to scale.</p></div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold">Icy Pollution of Uranus and Neptune</h3>
    In the Nice model of Solar System formation, Uranus and Neptune undergo an orbital upheaval, sweeping through
a planetesimal disk. The region of the disk from which material is accreted by the ice giants during this phase of
their evolution had not previously been identified. We performed direct N-body orbital simulations of the four giant
planets to determine the amount and origin of solid accretion during this orbital upheaval. We found that the ice
giants undergo an extreme bombardment event, with collision rates as high as ∼3 per hour assuming km-sized
planetesimals, increasing the total planet mass by up to ∼0.35%. In all cases, the initially outermost ice giant
experiences the largest total enhancement. We determine that the resulting atmospheric enrichment could potentially 
produce sufficient latent heat to alter the planetary cooling timescale according to existing models. 
Our findings suggest that substantial accretion during this phase of planetary evolution may have been sufficient to 
impact the atmospheric composition and thermal evolution of the ice giants, motivating future work on the fate of deposited solid material. 
Find the full paper <a href="https://ui.adsabs.harvard.edu/abs/2024AJ....168...64Z/abstract"> here</a>.
<div class="row g-5 mb-5">
  <img src="/assets/img/icegiantfig.png" alt="ice giants" width="100%"></div>
<div class="row g-5 mb-5">
  <p><u>Figure 1:</u> Fraction of particles initially located in each 2 au radial bin that ultimately collide with Neptune (purple) and Uranus (blue). This provides the probability of
  collision for a given initial test particle semimajor axis, for any initial surface density. The left plot shows the combined statistics simulations in which Uranus and Neptune 
  do not swap their initial orientations while the right plot shows the same for simulations in which Uranus is initialized exterior to Neptune. 
  Uranus and Neptune are identified by their locations in their final configuration.</p>
</div>


{% include publications.html %}
